{% load static %}
{% load humanize %}
<!-- sats/templates/sats/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bitcoin to ZAR Converter</title>
    <!-- Add any CSS stylesheets or other meta tags here -->
    <link rel="stylesheet" href="{% static 'custom.css' %}">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    

</head>
<{% load static %}

<!-- sats/templates/sats/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bitcoin to ZAR Converter</title>
    <!-- Add any CSS stylesheets or other meta tags here -->
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" href="{% static 'custom.css' %}">

</head>
<body>
<p></p><br>
<div class="styled-div">
    <h2>The Village Hub</h2>
    <p></p>
    <p>Total sats in the Speed account: {{ speed_balance }}</p>
    <p>Current value: <span class="red-bold">R{{ zar_value|floatformat:2 }}</span></p>
    <p></p>
</div>
          

<div class="styled-div">
    <h2>Sats Converter</h2>
    <p></p>
    <form method="post"> 
        {% csrf_token %}
        <p><input type="number" id="satsinput" name="satsinput"></p>
        <p><button type="submit">Calculate</button></p>
        <p>Current value of {{ btc_amount3 }} sats: <span class="red-bold">R{{ zar_value2|floatformat:2 }}</span></p>
    </form>
</div>    

<div class="styled-div">
    <h2>Bitcoin Price</h2>
    <p></p>
    <p>Current value: <span class="red-bold">R{{ zar_value3 }}</span></p>
    <p></p>
</div>

    
</body>
</html>


